@charset "UTF-8";
/* 清除内外边距 */
/* line 4, ../_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

/* line 13, ../_reset.scss */
ul, ol {
  list-style: none;
}

/* line 17, ../_reset.scss */
a {
  text-decoration: none;
}

/* line 20, ../_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 24, ../_reset.scss */
legend {
  color: #000;
}

/* line 25, ../_reset.scss */
fieldset, img {
  border: none;
}

/* line 26, ../_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 30, ../_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, ../_reset.scss */
hr {
  border: none;
  height: 1px;
}

/* line 40, ../_reset.scss */
html {
  overflow-y: scroll;
}

/* line 18, ../base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 23, ../base.scss */
section {
  width: 100%;
  height: 100%;
}

/* line 28, ../base.scss */
.animate_c {
  width: 478px;
  height: 478px;
  position: relative;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* line 35, ../base.scss */
.animate_c .img {
  width: 478px;
  height: 478px;
  position: relative;
  border-radius: 50%;
  z-index: 11;
}
/* line 41, ../base.scss */
.animate_c .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 47, ../base.scss */
.animate_c .img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 23px rgba(255, 255, 255, 0.6) inset;
}
/* line 56, ../base.scss */
.animate_c .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 478px;
  height: 478px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.35s ease-in-out 0s;
}
/* line 68, ../base.scss */
.animate_c .info h3 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 190px 0 0;
  margin: 10px 0;
}
/* line 76, ../base.scss */
.animate_c .info p {
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin: 0 65px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

/* line 87, ../base.scss */
.animate_c .img {
  transition: all 0.3s ease-in 0s;
}

/* line 90, ../base.scss */
.animate_c:hover .img {
  transform: scale(0.5) translateX(-100%);
}

/* line 93, ../base.scss */
.animate_c:hover .info {
  opacity: 1;
  transform: translateX(0);
}
