/* -- */
/* line 4, ../_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

/* line 13, ../_reset.scss */
ul, ol {
  list-style: none;
}

/* line 17, ../_reset.scss */
a {
  text-decoration: none;
}

/* line 20, ../_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 24, ../_reset.scss */
legend {
  color: #000;
}

/* line 25, ../_reset.scss */
fieldset, img {
  border: none;
}

/* line 26, ../_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 30, ../_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, ../_reset.scss */
hr {
  border: none;
  height: 1px;
}

/* line 28, ../base.scss */
html, body {
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

/* line 34, ../base.scss */
section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 39, ../base.scss */
.qq_icon {
  background-image: url("../../img/qq.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
}

/* line 45, ../base.scss */
.wechat_icon {
  background-image: url("../../img/wechat.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
}

/* line 51, ../base.scss */
.profile, .skills, .projects {
  display: flex;
  align-items: center;
}

/* line 55, ../base.scss */
.animate_c {
  width: 478px;
  height: 478px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 61, ../base.scss */
.animate_c .img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 10;
  position: relative;
  transition: all .3s ease-in;
}
/* line 68, ../base.scss */
.animate_c .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 74, ../base.scss */
.animate_c .img:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  transition: all .3s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 87, ../base.scss */
.animate_c .info {
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: all .3s ease-in;
  pointer-events: none;
}
/* line 103, ../base.scss */
.animate_c .info h3 {
  font-size: 24px;
  margin: 0 65px;
  margin-top: 42%;
}
/* line 108, ../base.scss */
.animate_c .info p {
  font-size: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  margin: 15px 65px;
  padding: 10px;
}

/* line 117, ../base.scss */
.animate_c:hover .img {
  transform: scale(0.5) translateX(-100%);
}

/* line 121, ../base.scss */
.animate_c:hover .info {
  opacity: 1;
  transform: translateX(0);
}

/* line 126, ../base.scss */
.profile_txt {
  margin-top: 30px;
}
/* line 128, ../base.scss */
.profile_txt p {
  font-size: 1.5em;
  color: #333;
  margin: 5px 0;
}

/* line 135, ../base.scss */
.skills {
  background-image: url("../../img/bg_2.jpg");
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 142, ../base.scss */
.skill_txt {
  margin: 90px 0;
}
/* line 144, ../base.scss */
.skill_txt ul li {
  font-size: 24px;
  height: 35px;
  line-height: 35px;
  margin: 8px 0;
  color: #666;
}

/* line 153, ../base.scss */
.works {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 158, ../base.scss */
.works .container {
  height: 100%;
}

/* line 163, ../base.scss */
.work_box {
  width: 100%;
  height: 90%;
  position: relative;
  margin: 5% 0;
}
/* line 168, ../base.scss */
.work_box .work_line {
  height: 50%;
  display: flex;
  align-items: center;
}

/* line 173, ../base.scss */
.work_box:before {
  content: '';
  width: 4px;
  height: 100%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: 0;
  background-color: #ccc;
}

/* line 184, ../base.scss */
.work {
  padding: 20px 35px;
  width: 50%;
}
/* line 187, ../base.scss */
.work h2 {
  margin: 5px 0;
}
/* line 189, ../base.scss */
.work h2 img {
  height: 45px;
}
/* line 193, ../base.scss */
.work h3 {
  font-size: 1.5em;
  color: #ff6666;
  height: 50px;
  line-height: 50px;
}
/* line 199, ../base.scss */
.work ul {
  padding: 30px;
}
/* line 201, ../base.scss */
.work ul li {
  color: #666;
  font-size: 18px;
}
/* line 207, ../base.scss */
.work ul dd {
  text-indent: 2em;
}

/* line 212, ../base.scss */
.work_f {
  position: absolute;
  left: 50%;
  bottom: 30px;
}

/* line 217, ../base.scss */
.work_l {
  position: absolute;
  left: 0;
  bottom: 30px;
}

/* line 222, ../base.scss */
.work_f:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-color: #66cccc;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -10px;
  text-indent: 1.5em;
}

/* line 234, ../base.scss */
.work_l:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-color: #66cccc;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -10px;
  text-indent: 1.5em;
}

/* line 246, ../base.scss */
.work_line:last-child .work:after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-color: #66cccc;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: -10px;
  text-indent: 1.5em;
}

/* line 259, ../base.scss */
.projects {
  background-color: #f0f0f0;
}
/* line 261, ../base.scss */
.projects .project {
  border-top: 2px solid #fff;
  padding: 25px 0;
}
/* line 265, ../base.scss */
.projects .project:first-child {
  border-top: none;
}

/* line 270, ../base.scss */
.project_txt {
  padding: 20px;
}
/* line 272, ../base.scss */
.project_txt h3 {
  margin-bottom: 25px;
  color: #333;
}
/* line 276, ../base.scss */
.project_txt span {
  padding: 6px 12px;
  margin: 5px 0;
}
/* line 280, ../base.scss */
.project_txt p {
  margin-top: 20px;
  font-size: 18px;
  color: #666;
  line-height: 25px;
}

/* line 288, ../base.scss */
.project_img {
  width: 100%;
  height: 100%;
}
/* line 291, ../base.scss */
.project_img img {
  border: 18px solid #fff;
  border-radius: 5px;
  width: 90%;
}

/*-----------------------------------------------*/
/* line 300, ../base.scss */
.active .animate_c {
  animation: moveDown 1s ease-in-out;
}
/* line 303, ../base.scss */
.active .profile_txt {
  animation: moveUp 1s ease-in-out 1s backwards;
}

/* line 310, ../base.scss */
.active .skill_txt li:nth-child(1) {
  animation: moveRight .5s ease-in 0s;
}
/* line 313, ../base.scss */
.active .skill_txt li:nth-child(2) {
  animation: moveRight .5s ease-in .1s backwards;
}
/* line 316, ../base.scss */
.active .skill_txt li:nth-child(3) {
  animation: moveRight .5s ease-in .2s backwards;
}
/* line 319, ../base.scss */
.active .skill_txt li:nth-child(4) {
  animation: moveRight .5s ease-in .3s backwards;
}
/* line 322, ../base.scss */
.active .skill_txt li:nth-child(5) {
  animation: moveRight .5s ease-in .4s backwards;
}
/* line 325, ../base.scss */
.active .skill_txt li:nth-child(6) {
  animation: moveRight .5s ease-in .5s backwards;
}
/* line 328, ../base.scss */
.active .skill_txt li:nth-child(7) {
  animation: moveRight .5s ease-in .6s backwards;
}
/* line 331, ../base.scss */
.active .skill_txt li:nth-child(8) {
  animation: moveRight .5s ease-in .7s backwards;
}
/* line 334, ../base.scss */
.active .skill_txt li:nth-child(9) {
  animation: moveRight .5s ease-in .8s backwards;
}
/* line 337, ../base.scss */
.active .skill_txt li:nth-child(10) {
  animation: moveRight .5s ease-in .9s backwards;
}

/* line 345, ../base.scss */
.active .work_l {
  animation: moveRight 1s ease-in 1s backwards;
}
/* line 348, ../base.scss */
.active .work_f {
  animation: moveLeft 1s ease-in 0s;
}

/* line 354, ../base.scss */
.active .project:nth-child(1) {
  animation: moveDown 1s ease-in-out;
}
/* line 357, ../base.scss */
.active .project:nth-child(2) {
  animation: moveUp 1s ease-in-out 1s backwards;
}

@keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(500%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveRight {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}
