/* -- */
/* line 4, ../_reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

/* line 13, ../_reset.scss */
ul, ol {
  list-style: none;
}

/* line 17, ../_reset.scss */
a {
  text-decoration: none;
}

/* line 20, ../_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 24, ../_reset.scss */
legend {
  color: #000;
}

/* line 25, ../_reset.scss */
fieldset, img {
  border: none;
}

/* line 26, ../_reset.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* line 30, ../_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, ../_reset.scss */
hr {
  border: none;
  height: 1px;
}

/* line 40, ../_reset.scss */
html {
  overflow-y: scroll;
}

/* line 18, ../base.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* line 24, ../base.scss */
section {
  width: 100%;
  height: 100%;
}

/* line 29, ../base.scss */
.animate_c {
  width: 478px;
  height: 478px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 35, ../base.scss */
.animate_c .img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 10;
  position: relative;
  transition: all .3s ease-in;
}
/* line 42, ../base.scss */
.animate_c .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 48, ../base.scss */
.animate_c .img:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  transition: all .3s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 61, ../base.scss */
.animate_c .info {
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: all .3s ease-in;
  pointer-events: none;
}
/* line 77, ../base.scss */
.animate_c .info h3 {
  font-size: 24px;
  margin: 0 65px;
  margin-top: 42%;
}
/* line 82, ../base.scss */
.animate_c .info p {
  font-size: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  margin: 15px 65px;
  padding: 10px;
}

/* line 90, ../base.scss */
.animate_c:hover .img {
  transform: scale(0.5) translateX(-100%);
}

/* line 94, ../base.scss */
.animate_c:hover .info {
  opacity: 1;
  transform: translateX(0);
}

/* line 99, ../base.scss */
.profile_txt {
  margin-top: 30px;
}
/* line 101, ../base.scss */
.profile_txt p {
  font-size: 1.5em;
  color: #333;
  height: 35px;
  line-height: 35px;
  margin: 5px 0;
}

/* line 110, ../base.scss */
.skills {
  background-image: url("../../img/bg_2.jpg");
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/* line 119, ../base.scss */
.skill_txt {
  margin: 90px 0;
}
/* line 121, ../base.scss */
.skill_txt ul li {
  font-size: 24px;
  height: 35px;
  line-height: 35px;
  margin: 8px 0;
  color: #666;
}
