@import "reset";

$bgcolor: #f0f0f0;
$fontcolor: #333;
$fontcolor_s: #666;
$hcolor: #ff6666;
$orangecolor: #ff6600;
$bluecolor: #66cccc;
$greencolor: #80bd00;
$yellowcolor: #e2f601;

@mixin center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-block{
  margin-left: auto;
  margin-right: auto;
}

@mixin  align-center{
  display: flex;
  align-items: center;
}

html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile, .skills{
  @include align-center;
}
.animate_c{
  width:478px;
  height: 478px;
  color: #fff;
  @include center-block;
  position: relative;
  .img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 10;
    position: relative;
    transition: all .3s ease-in;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .img:before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    transition: all .3s ease-in;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    //0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3)
  }
  .info{
    width: 100%;
    height:100%;
    background-color: #333;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s ease-in;
    pointer-events: none;
    h3{
      font-size: 24px;
      margin: 0 65px;
      margin-top: 42%;
    }
    p{
      font-size: 18px;
      border-top: 1px solid rgba(255, 255, 255, .8);
      margin: 15px 65px;
      padding: 10px;
    }
  }
}
.animate_c:hover .img{
  transform: scale(.5) translateX(-100%);
}

.animate_c:hover .info{
  opacity: 1;
  transform: translateX(0);
}

.profile_txt{
  margin-top: 30px;
  p{
    font-size: 1.5em;
    color: $fontcolor;
    margin: 5px 0;
  }
}

.skills{
  background-image: url("../../img/bg_2.jpg");
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
.skill_txt{
  margin: 90px 0;
  ul li{
    font-size: 24px;
    height: 35px;
    line-height: 35px;
    margin: 8px 0;
    color: $fontcolor_s;
  }
}

.works{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .container{
    height: 100%;
  }
}

.work_box{
  width: 100%;
  height: 90%;
  position: relative;
  margin: 5% 0;
  border: 1px solid #ff000;
  .work_line{
    height: 50%;
    @include align-center;
  }
}
.work_box:before{
  content: '';
  width: 4px;
  height: 100%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: 0;
  background-color: #ccc;
}
.work{
  padding: 20px 35px;
  width: 50%;
  h2{
    margin: 5px 0;
    img{
      height: 45px;
    }
  }
  h3{
    font-size: 1.5em;
    color: $hcolor;
    height: 50px;
    line-height: 50px;
  }
  ul{
    padding: 30px;
    li{
      color: $fontcolor_s;
      font-size: 18px;
    }
    dt, dd{
    }
    dd{
      text-indent: 2em;
    }
  }
}
.work_f{
  position: absolute;
  left: 50%;
  bottom: 30px;
}
.work_l{
  position: absolute;
  left: 0;
  bottom: 30px;
}
.work_f:before{
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-color: #66cccc;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -10px;
  text-indent: 1.5em;
}
.work_l:before{
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-color: #66cccc;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -10px;
  text-indent: 1.5em;
}
.work_line:last-child .work:after{
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-color: #66cccc;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: -10px;
  text-indent: 1.5em;
}

.projects{
  background-color: $bgcolor;
  @include align-center;
  .project{
    border-top: 2px solid #fff;
    padding: 25px 0;
  }
  .project:first-child{
    border-top: none;
  }
}

.project_txt{
  padding: 20px;
  h3{
    margin-bottom: 25px;
    color: $fontcolor;
  }
  span{
    padding: 6px 12px;
    margin: 5px 0;
  }
  p{
    margin-top: 20px;
    font-size: 18px;
    color: $fontcolor_s;
    line-height: 25px;
  }
}

.project_img{
  width: 100%;
  height: 100%;
  img{
    border: 18px solid #fff;
    border-radius: 5px;
    width: 90%;
  }
}
