@import "reset";

$bgcolor: #f0f0f0;
$fontcolor: #333;
$fontcolor_s: #666;

@mixin center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-block{
  margin-left: auto;
  margin-right: auto;
}

html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section{
  width: 100%;
  height: 100%;
}

.animate_c{
  width:478px;
  height: 478px;
  color: #fff;
  @include center-block;
  position: relative;
  .img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 10;
    position: relative;
    transition: all .3s ease-in;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .img:before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    transition: all .3s ease-in;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    //0 0 0 16px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3)
  }
  .info{
    width: 100%;
    height:100%;
    background-color: #333;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s ease-in;
    pointer-events: none;
    h3{
      font-size: 24px;
      margin: 0 65px;
      margin-top: 42%;
    }
    p{
      font-size: 18px;
      border-top: 1px solid rgba(255, 255, 255, .8);
      margin: 15px 65px;
      padding: 10px;
    }
  }
}
.animate_c:hover .img{
  transform: scale(.5) translateX(-100%);
}

.animate_c:hover .info{
  opacity: 1;
  transform: translateX(0);
}

.profile_txt{
  margin-top: 30px;
  p{
    font-size: 1.5em;
    color: $fontcolor;
    height: 35px;
    line-height: 35px;
    margin: 5px 0;
  }
}

.skills{
  background-image: url("../../img/bg_2.jpg");
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skill_txt{
  margin: 90px 0;
  ul li{
    font-size: 24px;
    height: 35px;
    line-height: 35px;
    margin: 8px 0;
    color: $fontcolor_s;
  }
}
